# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

.docker/mongo
.docker/volume


store_bff/HELP.md
store_bff/target/
store_bff/!.mvn/wrapper/maven-wrapper.jar
store_bff/!**/src/main/**/target/
store_bff/!**/src/test/**/target/

store_bff/### STS ###
store_bff/.apt_generated
store_bff/.classpath
store_bff/.factorypath
store_bff/.project
store_bff/.settings
store_bff/.springBeans
store_bff/.sts4-cache

store_bff/### IntelliJ IDEA ###
store_bff/.idea
store_bff/*.iws
store_bff/*.iml
store_bff/*.ipr

store_bff/### NetBeans ###
store_bff/nbproject/private/
store_bff/nbbuild/
store_bff/dist/
store_bff/nbdist/
store_bff/.nb-gradle/
store_bff/build/
store_bff/!**/src/main/**/build/
store_bff/!**/src/test/**/build/

store_bff/### VS Code ###
store_bff/.vscode/
